h1 {
  text-align: center;
  color: black;
  font-size: 3vw;
}

body {
  height: 100%;
}

main {
  margin: 25vh 0;
}

p {
  font-size: 1vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 94%;
  border: 2px solid black;
  padding: 0 2vw;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border: 2px solid black;
  width: 94%;
  padding: 0 2vw;
}

a {
  text-decoration: none;
  border-left: 1px solid black;
  color: black;
  font-size: 1vw;
  padding: 0 2vw;
}

a:hover {
  color: gray;
  font-size: 1.5vw;
}

a:active {
  color: red;
}

#list {
  display: none;
  text-align: center;
}

#contact {
  display: none;
  flex-direction: column;
  margin: 0 33%;
}

div {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5%;
}

form input {
  height: 5vh;
}

button {
  border: 4px solid black;
  width: 20vw;
}

form button {
  align-self: flex-end;
  height: 4vh;
  width: 5vw;
}

button:hover {
  border: 2px solid black;
}

hr {
  margin: 5vh auto;
  width: 20%;
  border: 1px solid black;
}

.books {
  border: 5px solid black;
}

.grey {
  background-color: grey;
}

#form {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 25%;
}
