h1 {
  text-align: center;
  color: black;
  font-size: 5vw;
}

body {
  height: 100%;
}

main {
  margin: 10vh 3vw;
  display: flex;
  flex-direction: column;
}

#time {
  align-self: flex-end;
}

p {
  font-size: 2.5vw;
}

footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 1%;
  height: 8vh;
  width: 93.6%;
  border: 2px solid black;
  padding: 0 2vw;
}

footer p {
  font-size: 3vw;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border: 2px solid black;
  height: 8vh;
  width: 93.6%;
  padding: 0 2vw;
}

header p {
  font-size: 5vw;
  font-weight: 800;
  color: peru;
}

a {
  text-decoration: none;
  border-left: 1px solid black;
  color: black;
  font-size: 3vw;
  padding: 0 3vw;
}

a:hover {
  color: gray;
  font-size: 3.5vw;
}

a:active {
  color: red;
}

#list {
  display: none;
  text-align: center;
  min-height: 20vh;
}

#contact {
  display: none;
  flex-direction: column;
  align-items: center;
}

#contact p {
  font-size: 3vh;
  line-height: 5vh;
  color: grey;
}

#semi-colons {
  font-size: 3.5vw;
  font-weight: 800;
  color: peru;
}

li {
  line-height: 6vh;
}

div {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5%;
}

form input {
  height: 5vh;
  border: 1px solid peru;
}

button {
  border: 4px solid black;
  width: 20vw;
  color: peru;
}

form button {
  align-self: flex-end;
  height: 4vh;
  width: 20vw;
}

button:hover {
  border: 2px solid black;
}

hr {
  margin: 5vh auto;
  width: 20%;
  border: 1px solid black;
}

.books {
  border: 5px solid black;
}

.grey {
  background-color: grey;
}

#form {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 25%;
}
