h1 {
  text-align: center;
  color: black;
}

div {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5%;
}

form input {
  height: 5vh;
}

button {
  border: 4px solid black;
  width: 20vw;
}

form button {
  align-self: flex-end;
  height: 4vh;
  width: 20%;
}

button:hover {
  border: 2px solid black;
}

hr {
  margin: 5vh auto;
  width: 20%;
  border: 1px solid black;
}

.books {
  border: 5px solid black;
}

.grey {
  background-color: grey;
}

#form {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 25%;
}
